<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= title %></title>

  <style type="text/css" media="screen"><%= screen_style %></style>
  <style type="text/css" media="print"><%= print_style %></style>

  <script type="text/javascript"><%= jquery %></script>
  <script type="text/javascript"><%= application_js %></script>

</head>

<body>

  <% if history %>
  <div id="history_header">
    <p>Last revision: 
      <strong><%= history.revisions.first.subject %></strong>
      <em>(<%= history.revisions.first.author %>, <%= history.revisions.first.date.strftime('%d/%m/%Y %H:%M') %>)</em> | 
      <a href="#history">History</a>
      <!-- <strong class="new_revisions">(3 new)</strong> -->
    </p>
  </div><!-- /history_header -->
  <% end %>

<div id="container">

  <div id="content">
<%= content %>
  </div><!-- /#content -->

  <% if history %>
  <div id="history">
    <h2>History</h2>
    <% history.revisions.each do |revision| %>
    <div id="revision_<%= revision.sha %>" class="revision">
      <h4><%= revision.date.strftime('%d/%m/%Y %H:%M') %> : <%= revision.subject %> (<%= revision.author %>)</h4>
      <div class="detail">
      <pre>
<code class="diff">
<%= revision.diff(:format => 'inline') %>
</code>
      </pre>
      </div><!-- /detail -->
    </div><!-- /.revision -->
    <% end %>
  </div><!-- /#history -->
  <% end %>

</div><!-- /container -->

</body>
</html>
