<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= title %></title>

  <style type="text/css" media="screen">
  <%= screen_style %>
  </style>

  <style type="text/css" media="print">
  <%= print_style %>
  </style>

  <%= syntax_highlighter %>

</head>

<body>

  <div id="content">
<%= content %>
  </div><!-- /#content -->

  <% if history %>
  <div id="history">
    <h2>History</h2>
    <% history.revisions.each do |revision| %>
    <div class="revision">
      <h4><%= revision.date %> : <%= revision.subject %> (<%= revision.author %>)</h4>
      <pre>
<code class="diff">
<%= revision.diff %>
</code>
      </pre>
    </div><!-- /.revision -->
    <% end %>
  </div><!-- /#history -->
  <% end %>

</body>
</html>
